<section class="section experiences-section"
         id="education">
    <h2 class="section-title">
        <span class="icon-holder">
            <i class="fas fa-graduation-cap"></i>
        </span>
        Education
    </h2>
    <div class="accordion" id="educationAccordion">
        {% for education_id, education in educations.items() %}
        <div class="accordion-item">
            <div class="accordion-header"
                 id={{ education_id }}>
                <button aria-controls="collapse{{ education_id }}"
                        aria-expanded={% if loop.index0 == 0 %}true{% else %}false{% endif %}
                        class="accordion-button job-title {% if loop.index0 > 0 %}collapsed{% endif %}"
                        data-bs-target="#collapse{{ education_id }}"
                        data-bs-toggle="collapse"
                        type="button"
                >
                    {{ education.title }}
                </button>
            </div>
            <div aria-labelledby={{ education_id }}
                 class="accordion-collapse collapse {% if loop.index0 == 0 %}show{% endif %}"
                 data-bs-parent="#educationAccordion"
                 id="collapse{{ education_id }}"
            >
                <div class="accordion-body">
                    <div class="upper-row">
                        <div class="time">
                            {{ education.start.strftime('%b %Y') }} – {% if education.end %}{{ education.end.strftime('%b %Y') }}{% else %}Present{% endif %}
                        </div>
                        <div class="company">
                            {{ education.location }}
                        </div>
                    </div><!--//upper-row-->
                    <ul>
                        {% for desc in education.description %}
                            <li>{{ desc|safe }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section><!--//section-->