<section class="section experiences-section" id="experience">
    <h2 class="section-title"><span class="icon-holder"><i class="fas fa-briefcase"></i></span>Experience</h2>

    <div class="accordion" id="ExperienceAccordion">
        <!--  Item      -->
        <div class="accordion-item">
            <h3 class="accordion-header" id="ExperienceZero">
                <button aria-controls="collapseExperienceZero" aria-expanded="true" class="accordion-button job-title"
                        data-bs-target="#collapseExperienceZero" data-bs-toggle="collapse" type="button">
                    PhD Computer Science (ongoing)
                </button>
            </h3>
            <div aria-labelledby="ExperienceZero" class="accordion-collapse collapse show"
                 data-bs-parent="#ExperienceAccordion"
                 id="collapseExperienceZero">
                <div class="accordion-body">
                    <div class="upper-row">
                        <div class="time">Mar 2022 – Present</div>
                        <div class="company">Heidelberg Institute for Theoretical Studies</div>
                    </div><!--//upper-row-->
                    <p>I am currently pursuing my PhD in Computer Science at the HITS in Heidelberg in the field of
                        Bioinformatics.
                        The working title of my thesis is "Applications of Machine Learning and Data Science in
                        Phylogenetics".
                        One main aim of Phylogenetics, and a research focus in my group at HITS is to infer phylogenetic
                        trees.
                        Phylogenetic trees represent hypothetical evolutionary relationships between organisms or
                        species.
                        With advances in machine learning and deep learning over the last decades, deep learning and
                        large scale
                        data analytics is becoming more popular in phylogenetics.</p>
                    <p>The goal of my thesis is to explore potential applications of machine learning and deep learning
                        techniques
                        to improve phylogenetic inferences, both in terms of accuracy and runtime.
                        Furthermore, I am trying to improve current techniques and explore future directions by
                        analyzing
                        vast amounts of biological data, and research results.
                    </p>
                    <p>The following list is a brief summary of what I am working on in my day-to-day work and projects
                        that I have finished.</p>
                    <ul>
                        <li>Pandora: Quantification of the uncertainty of population genetics genotype datasets under
                            dimensionality reduction.
                            See <a href="#PandoraProject">below</a>
                            for more details on this project.
                        </li>
                        <li>Debunking Simulations: In a joint work with researchers in France, we demonstrated that
                            current state-of-the-art models of sequence evolution in phylogenetics cannot simulate
                            empirical-like data. See <a href="#SimulationsProject">below</a>
                            for more details on this project.
                        </li>
                        <li>Pythia: Predicting the difficulty of phylogenetic analysis. See <a href="#PythiaProject">below</a>
                            for more details on this project.
                        </li>
                        <li>Numerical Analysis of thresholds in phylogenetic inference tools. See <a
                                href="#NumericalAnalysis">below</a> for more details on this project.
                        </li>
                        <li>My group develops a C library providing frequently used phylogenetic inference functionality
                            (<a
                                    href="https://codeberg.org/Exelixis-Lab/coraxlib">Coraxlib</a>). I am currently
                            working on setting up a CI pipeline in Jenkins for this project.
                        </li>
                    </ul>

                    <span class="badge bg-light text-dark">Python</span>
                    <span class="badge bg-light text-dark">Snakemake</span>
                    <span class="badge bg-light text-dark">Biopython</span>
                    <span class="badge bg-light text-dark">Pandas</span>
                    <span class="badge bg-light text-dark">numpy</span>
                    <span class="badge bg-light text-dark">Plotly</span>
                    <span class="badge bg-light text-dark">SQLite</span>
                    <span class="badge bg-light text-dark">scikit-learn</span>
                    <span class="badge bg-light text-dark">LightGBM</span>
                    <span class="badge bg-light text-dark">TreeLite</span>
                    <span class="badge bg-light text-dark">Optuna</span>
                    <span class="badge bg-light text-dark">C</span>
                    <span class="badge bg-light text-dark">C++</span>
                    <span class="badge bg-light text-dark">Git</span>
                    <span class="badge bg-light text-dark">Jenkins</span>
                    <span class="badge bg-light text-dark">RAxML-NG</span>
                    <span class="badge bg-light text-dark">IQ-Tree</span>
                    <span class="badge bg-light text-dark">FastTree</span>
                </div>
            </div>
        </div>
        <!-- //Item      -->

        <!--  Item      -->
        <div class="accordion-item">
            <h3 class="accordion-header" id="Freelance2023">
                <button aria-controls="collapseFreelance2023" aria-expanded="true" class="accordion-button job-title"
                        data-bs-target="#collapseFreelance2023" data-bs-toggle="collapse" type="button">
                    Software Engineer (ongoing)
                </button>
            </h3>
            <div aria-labelledby="Freelance2023" class="accordion-collapse collapse"
                 data-bs-parent="#ExperienceAccordion"
                 id="collapseFreelance2023">
                <div class="accordion-body">
                    <div class="upper-row">
                        <div class="time">Oct 2021 – Present</div>
                        <div class="company">Freelance</div>
                    </div><!--//upper-row-->
                    <p>
                        In addition to pursuing my PhD in computer science, I work as a part-time freelance software
                        engineer. The idea is to gain further experience in the industrie with frameworks and
                        technologies I don't use in my research.
                    </p>
                    <p>
                        The primary task involves refactoring a critical, yet undocumented and untested Python 2
                        codebase to Python 3. The original developers are unavailable, and there's no specification for
                        the expected functionality. The challenge lies in refactoring without tests to validate changes,
                        and to write tests, the codebase must first be understood and refactored. The initial structure,
                        with scattered database interaction logic, didn't allow for testing. Potential logical bugs
                        present another issue, as it's unclear if they're actual bugs or undocumented, intended
                        behavior. I made substantial progress in refactoring, adding unit tests and documentation,
                        reducing technical debt, and enhancing maintainability. I further identified potential bugs,
                        data inconsistencies, and opportunities for speedup and complexity reduction.
                    </p>
                    <p>
                        In various side-projects for the same company, I came in touch with a few additional
                        technologies, including FastAPI, GraphQL, docker, docker-compose and Apache Kafka.
                    </p>

                    <span class="badge bg-light text-dark">Python</span>
                    <span class="badge bg-light text-dark">MySQL</span>
                    <span class="badge bg-light text-dark">Redis</span>
                    <span class="badge bg-light text-dark">FastAPI</span>
                    <span class="badge bg-light text-dark">GraphQL</span>
                    <span class="badge bg-light text-dark">Docker</span>
                    <span class="badge bg-light text-dark">docker-compose</span>
                    <span class="badge bg-light text-dark">Apache Kafka</span>
                </div>
            </div>
        </div>
        <!-- //Item      -->

        <!--  Item      -->
        <div class="accordion-item">
            <h3 class="accordion-header" id="ExperienceOne">
                <button aria-controls="collapseExperienceOne" aria-expanded="true"
                        class="accordion-button collapsed job-title"
                        data-bs-target="#collapseExperienceOne" data-bs-toggle="collapse" type="button">
                    Working Student and Master's Thesis Data Analytics
                </button>
            </h3>
            <div aria-labelledby="ExperienceOne" class="accordion-collapse collapse"
                 data-bs-parent="#ExperienceAccordion"
                 id="collapseExperienceOne">
                <div class="accordion-body">
                    <div class="upper-row">
                        <div class="time">Dec 2020 - Feb 2022</div>
                        <div class="company">Heidelberg Institute for Theoretical Studies</div>
                    </div><!--//upper-row-->
                    <p>Large scale analysis of numerical properties of phylogenetic
                        inference using the maximum likelihood method.</p>
                    <span class="badge bg-light text-dark">Python</span>
                    <span class="badge bg-light text-dark">Snakemake</span>
                    <span class="badge bg-light text-dark">Pandas</span>
                    <span class="badge bg-light text-dark">Plotly</span>
                    <span class="badge bg-light text-dark">SQLite</span>
                </div>
            </div>
        </div>
        <!-- //Item      -->

        <!--  Item      -->
        <div class="accordion-item">
            <div class="accordion-header" id="ExperienceTwo">
                <button aria-controls="collapseExperienceTwo" aria-expanded="false"
                        class="accordion-button collapsed job-title"
                        data-bs-target="#collapseExperienceTwo" data-bs-toggle="collapse" type="button">
                    Freelance Web Developer
                </button>
            </div>
            <div aria-labelledby="ExperienceTwo" class="accordion-collapse collapse"
                 data-bs-parent="#ExperienceAccordion"
                 id="collapseExperienceTwo">
                <div class="accordion-body">
                    <div class="upper-row">
                        <div class="time">April 2020</div>
                        <div class="company">Company on request</div>
                    </div><!--//upper-row-->
                    <p>Development of a web-based filesharing tool. Files can be uploaded
                        and shared with other users.
                        Share-links allow for sharing specific files with non-registered
                        users as well.
                        The files are stored in an Amazon aws S3 bucket to ensure
                        scalability.
                    </p>
                    <span class="badge bg-light text-dark">Python</span>
                    <span class="badge bg-light text-dark">Django</span>
                    <span class="badge bg-light text-dark">JavaScript</span>
                    <span class="badge bg-light text-dark">HTML</span>
                    <span class="badge bg-light text-dark">CSS</span>
                    <span class="badge bg-light text-dark">AWS</span>
                </div>
            </div>
        </div>
        <!-- //Item      -->

        <!--  Item      -->
        <div class="accordion-item">
            <div class="accordion-header" id="ExperienceThree">
                <button aria-controls="collapseExperienceThree" aria-expanded="false"
                        class="accordion-button collapsed job-title"
                        data-bs-target="#collapseExperienceThree" data-bs-toggle="collapse" type="button">
                    Working Student Web Development and Data Analytics
                </button>
            </div>
            <div aria-labelledby="ExperienceThree" class="accordion-collapse collapse"
                 data-bs-parent="#ExperienceAccordion"
                 id="collapseExperienceThree">
                <div class="accordion-body">
                    <div class="upper-row">
                        <div class="time">Oct 2019 - Mar 2020</div>
                        <div class="company">ArtiMinds Robotics GmbH</div>
                    </div><!--//upper-row-->
                    <p>Development of a web-based analytics software suite for
                        large-scale robotics data.
                    </p>
                    <span class="badge bg-light text-dark">JavaScript</span>
                    <span class="badge bg-light text-dark">Typescript</span>
                    <span class="badge bg-light text-dark">HTML</span>
                    <span class="badge bg-light text-dark">CSS</span>
                    <span class="badge bg-light text-dark">MariaDB</span>
                    <span class="badge bg-light text-dark">Python</span>
                    <span class="badge bg-light text-dark">Pandas</span>
                    <span class="badge bg-light text-dark">Matplotlib</span>
                </div>
            </div>
        </div>
        <!-- //Item      -->

        <!--  Item      -->
        <div class="accordion-item">
            <div class="accordion-header" id="ExperienceFour">
                <button aria-controls="collapseExperienceFour" aria-expanded="false"
                        class="accordion-button collapsed job-title"
                        data-bs-target="#collapseExperienceFour" data-bs-toggle="collapse" type="button">
                    Fitness Trainer
                </button>
            </div>
            <div aria-labelledby="ExperienceFour" class="accordion-collapse collapse"
                 data-bs-parent="#ExperienceAccordion"
                 id="collapseExperienceFour">
                <div class="accordion-body">
                    <div class="upper-row">
                        <div class="time">Aug 2017 - Aug 2019</div>
                        <div class="company">Walk In Fitness, KIT</div>
                    </div><!--//upper-row-->
                    <p>As a balance to sitting in the library doing some programming and studying, I wanted to do
                        something other than computer science. So I decided to do an internship and later work in the
                        unversity gym. I helped clients achieve their fitness goals and did some basic nutrition
                        counselling.
                    </p>
                </div>
            </div>
        </div>
        <!-- //Item      -->

        <!--  Item      -->
        <div class="accordion-item">
            <div class="accordion-header" id="ExperienceFive">
                <button aria-controls="collapseExperienceFive" aria-expanded="false"
                        class="accordion-button collapsed job-title"
                        data-bs-target="#collapseExperienceFive" data-bs-toggle="collapse" type="button">
                    Tutor for the subject "Digital Technology and Design Methods"
                </button>
            </div>
            <div aria-labelledby="ExperienceFive" class="accordion-collapse collapse"
                 data-bs-parent="#ExperienceAccordion"
                 id="collapseExperienceFive">
                <div class="accordion-body">
                    <div class="upper-row">
                        <div class="time">Apr 2018 - Jul 2018</div>
                        <div class="company">Chair for Embedded Systems, KIT</div>
                    </div><!--//upper-row-->
                    <p>Tutor for the subject “Digitaltechnik und
                        Entwurfsverfahren“ (Digital Technology and Design Methods).</p>
                    <p>Study aid for 28 undergraduate computer science students.</p>
                </div>
            </div>
        </div>
        <!-- //Item      -->

        <!--  Item      -->
        <div class="accordion-item">
            <div class="accordion-header" id="ExperienceSix">
                <button aria-controls="collapseExperienceSix" aria-expanded="false"
                        class="accordion-button collapsed job-title"
                        data-bs-target="#collapseExperienceSix" data-bs-toggle="collapse" type="button">
                    Working Student Robotics
                </button>
            </div>
            <div aria-labelledby="ExperienceSix" class="accordion-collapse collapse"
                 data-bs-parent="#ExperienceAccordion"
                 id="collapseExperienceSix">
                <div class="accordion-body">
                    <div class="upper-row">
                        <div class="time">Jan 2017 - Sep 2017</div>
                        <div class="company">Institute for Anthropomatics and Robotics, KIT</div>
                    </div><!--//upper-row-->
                    <p>Working with the ArmarX robot programming framework.</p>
                    <p>Preparation of experiments for marker-based human motion capture.</p>
                </div>
            </div>
        </div>
        <!-- //Item      -->

        <!--  Item      -->
        <div class="accordion-item">
            <div class="accordion-header" id="ExperienceSeven">
                <button aria-controls="collapseExperienceSeven" aria-expanded="false"
                        class="accordion-button collapsed job-title"
                        data-bs-target="#collapseExperienceSeven" data-bs-toggle="collapse" type="button">
                    Working Student Geophysics
                </button>
            </div>
            <div aria-labelledby="ExperienceSeven" class="accordion-collapse collapse"
                 data-bs-parent="#ExperienceAccordion"
                 id="collapseExperienceSeven">
                <div class="accordion-body">
                    <div class="upper-row">
                        <div class="time">Mar 2016 - Sep 2016</div>
                        <div class="company">Geophysical Institute, KIT</div>
                    </div><!--//upper-row-->
                    <p>Writing lectures notes for the lecture "Introduction to Geophysics".
                    </p>
                    <p>The resulting notes are 70 pages long, including 50 custom made
                        graphics.</p>
                    <p>You can view the notes <a class="inline_link"
                                                 href="https://github.com/tschuelia/Geophysik-Skript/blob/master/GeoSkript.pdf"
                                                 target="_blank">here</a>.
                    </p>
                    <span class="badge bg-light text-dark">LaTeX</span>
                </div>
            </div>
        </div>
        <!-- //Item      -->
    </div>

</section><!--//section-->

