<section
        class="section experiences-section"
        id="experience"
>
    <h2 class="section-title">
        <span class="icon-holder">
            <i class="fas fa-briefcase"></i>
        </span>
        Experience
    </h2>

    <div class="accordion" id="ExperienceAccordion">
        {% for experience_id, experience in experiences.items() %}
            <div class="accordion-item">
                <h3 class="accordion-header"
                    id={{ experience_id }}
                >
                    <button aria-controls="collapse{{ experience_id}}"
                            aria-expanded={% if loop.index0 == 0 %}true{% else %}false{% endif %}
                            class="accordion-button job-title {% if loop.index0 > 0 %}collapsed{% endif %}"
                            data-bs-target="#collapse{{ experience_id }}"
                            data-bs-toggle="collapse"
                            type="button"
                    >
                        {{ experience.title }}
                    </button>
                </h3>
                <div aria-labelledby={{ experience_id }}
                     class="accordion-collapse collapse {% if loop.index0 == 0 %}show{% endif %}"
                     data-bs-parent="#ExperienceAccordion"
                     id="collapse{{ experience_id }}">
                    <div class="accordion-body">
                        <div class="upper-row">
                            <div class="time">
                                {{ experience.start.strftime('%b %Y') }} – {% if experience.end %}{{ experience.end.strftime('%b %Y') }}{% else %}Present{% endif %}
                            </div>
                            <div class="company">{{ experience.company }}</div>
                        </div><!--//upper-row-->
                        {% if experience.summary %}
                            <p>{{ experience.summary }}</p>
                        {% endif %}
                        {% if experience.skills %}
                            {% for skill in experience.skills %}
                                <span class="badge bg-light text-dark">
                                    {{ skill }}
                                </span>
                            {% endfor %}
                            <hr>
                        {% endif %}
                        {% for desc in experience.description %}
                            <p>{{ desc|safe }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section><!--//section-->

