<section class="section experiences-section" id="further-education">
    <h2 class="section-title"><span class="icon-holder"><i class="fas fa-book-reader"></i></span>Further Education</h2>

    <div class="accordion" id="furtherEducationAccordion">
        <!--  Probability & Statistics for Machine Learning & Data Science   -->
        <div class="accordion-item">
            <h3 class="accordion-header" id="prob_stats_for_ML_DS">
                <button aria-controls="collapsesprob_stats_for_ML_DS" aria-expanded="false"
                        class="accordion-button collapsed job-title"
                        data-bs-target="#collapsesprob_stats_for_ML_DS" data-bs-toggle="collapse" type="button">
                    Probability & Statistics for Machine Learning & Data Science
                </button>
            </h3>
            <div aria-labelledby="mathForML" class="accordion-collapse collapse"
                 data-bs-parent="#furtherEducationAccordion"
                 id="collapsesprob_stats_for_ML_DS">
                <div class="accordion-body">
                    <div class="upper-row">
                        <div class="time">January 2024</div>
                        <div class="company">DeepLearning.AI</div>
                    </div><!--//upper-row-->
                    <p>Coursera course teaching the most important concepts of probability and statistics for Machine Learning and Data Science.</p>
                    <p>You can verify the certificate <a href="https://coursera.org/verify/ZK7XPDS46JYA"
                                                         target="_blank">here</a>. (Note: The certificate states my maiden name Julia Schmid, but yes, that is me ☺︎)︎</p>
                </div>
            </div>
        </div>

        <!--  Mathematics for Machine Learning   -->
        <div class="accordion-item">
            <h3 class="accordion-header" id="mathForML">
                <button aria-controls="collapsesmathForML" aria-expanded="false"
                        class="accordion-button collapsed job-title"
                        data-bs-target="#collapsesmathForML" data-bs-toggle="collapse" type="button">
                    Mathematics for Machine Learning
                </button>
            </h3>
            <div aria-labelledby="mathForML" class="accordion-collapse collapse"
                 data-bs-parent="#furtherEducationAccordion"
                 id="collapsesmathForML">
                <div class="accordion-body">
                    <div class="upper-row">
                        <div class="time">November 2023</div>
                        <div class="company">Imperial College London on Coursera</div>
                    </div><!--//upper-row-->
                    <p>Coursera specialization teaching the basic mathematical concepts for Machine Learning agorithms. The specialization consists of the following courses:</p>
                    <ul>
                        <li>Linear Algebra</li>
                        <li>Multivariate Calculus</li>
                        <li>PCA</li>
                    </ul>
                    <p>You can verify the certificate <a href="https://coursera.org/verify/specialization/AUG3H6MTVQBL"
                                                         target="_blank">here</a>. (Note: The certificate states my maiden name Julia Schmid, but yes, that is me ☺︎)︎</p>
                </div>
            </div>
        </div>

        <!--  Introduction to Statistics    -->
        <div class="accordion-item">
            <h3 class="accordion-header" id="statsCourse">
                <button aria-controls="collapsestatsCourse" aria-expanded="false"
                        class="accordion-button collapsed job-title"
                        data-bs-target="#collapsestatsCourse" data-bs-toggle="collapse" type="button">
                    Introduction to Statistics
                </button>
            </h3>
            <div aria-labelledby="statsCourse" class="accordion-collapse collapse"
                 data-bs-parent="#furtherEducationAccordion"
                 id="collapsestatsCourse">
                <div class="accordion-body">
                    <div class="upper-row">
                        <div class="time">November 2023</div>
                        <div class="company">Stanford University on Coursera</div>
                    </div><!--//upper-row-->
                    <p>Coursera course teaching the basics of statistics and hypothesis testing.</p>
                    <p>You can verify the certificate <a href="https://coursera.org/verify/ULLKBAVAHAUN"
                                                         target="_blank">here</a>. (Note: The certificate states my maiden name Julia Schmid, but yes, that is me ☺︎)︎</p>
                </div>
            </div>
        </div>
        <!--  AI for medical diagnosis      -->
        <div class="accordion-item">
            <h3 class="accordion-header" id="furtherEducationOne">
                <button aria-controls="collapseFurtherEducationOne" aria-expanded="false"
                        class="accordion-button collapsed job-title"
                        data-bs-target="#collapseFurtherEducationOne" data-bs-toggle="collapse" type="button">
                    AI for Medical Diagnosis
                </button>
            </h3>
            <div aria-labelledby="furtherEducationOne" class="accordion-collapse collapse"
                 data-bs-parent="#furtherEducationAccordion"
                 id="collapseFurtherEducationOne">
                <div class="accordion-body">
                    <div class="upper-row">
                        <div class="time">September 2020</div>
                        <div class="company">DeepLearning.AI on Coursera</div>
                    </div><!--//upper-row-->
                    <p>Coursera course teaching the basics of medical diagnosis prediction using machine learning and
                        deep learning.</p>
                    <p>You can verify the certificate <a href="https://coursera.org/verify/CH7KS9N8YEYN"
                                                         target="_blank">here</a>. (Note: I got married since I took
                        this class, so the certificate says Julia Schmid, but that is me ☺︎)︎</p>
                </div>
            </div>
        </div>
        <!-- //Item      -->

        <!--  Item  Deep Learning Specialization    -->
        <div class="accordion-item">
            <div class="accordion-header" id="furtherEducationTwo">
                <button aria-controls="collapseFurtherEducationTwo" aria-expanded="false"
                        class="accordion-button collapsed job-title"
                        data-bs-target="#collapseFurtherEducationTwo" data-bs-toggle="collapse" type="button">
                    Deep Learning Specialization
                </button>
            </div>
            <div aria-labelledby="furtherEducationTwo" class="accordion-collapse collapse"
                 data-bs-parent="#furtherEducationAccordion"
                 id="collapseFurtherEducationTwo">
                <div class="accordion-body">
                    <div class="upper-row">
                        <div class="time">July 2020</div>
                        <div class="company">DeepLearning.AI on Coursera</div>
                    </div><!--//upper-row-->
                    <p>Coursera specialization consisting of the following courses:</p>
                    <ul>
                        <li>Neural Networks and Deep Learning</li>
                        <li>Convolutional Neural Networks</li>
                        <li>Sequence Models</li>
                        <li>Structuring Machine Learning Projects</li>
                        <li>Regularization and Optimization</li>
                    </ul>
                    <p>You can verify the certificate <a href="https://coursera.org/verify/specialization/CBR895FZ73B2"
                                                         target="_blank">here</a> (Note: I got married since I took
                        these classes, so the certificate says Julia Schmid, but that is me ☺︎).
                    </p>
                </div>
            </div>
        </div>
        <!-- //Item      -->
    </div>

</section><!--//section-->

