<section class="section experiences-section"
         id="further-education"
>
    <h2 class="section-title">
        <span class="icon-holder">
            <i class="fas fa-book-reader"></i>
        </span>
        Further Education
    </h2>
    <div class="accordion" id="furtherEducationAccordion">
        {% for education_id, education in further_educations.items() %}
            <div class="accordion-item">
                <h3 class="accordion-header" id={{ education_id }}>
                    <button aria-controls="collapses{{ education_id }}"
                            aria-expanded={% if loop.index0 == 0 %}true{% else %}false{% endif %}
                            class="accordion-button collapsed job-title"
                            data-bs-target="#collapses{{ education_id }}"
                            data-bs-toggle="collapse"
                            type="button"
                    >
                        {{ education.title }}
                    </button>
                </h3>
                <div aria-labelledby={{ education_id }} class="accordion-collapse collapse"
                     data-bs-parent="#furtherEducationAccordion"
                     id="collapses{{ education_id }}">
                    <div class="accordion-body">
                        <div class="upper-row">
                            <div class="time">{{ education.date.strftime('%B %Y') }}</div>
                            <div class="company">{{ education.company }}</div>
                        </div><!--//upper-row-->
                        {% for desc in education.description %}
                            <p>{{ desc|safe }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <small>Note that all Coursera certificates state my maiden name Julia Schmid, but yes, that is me ☺</small>
</section><!--//section-->

