<!DOCTYPE html>
<html lang="en">
<head>
    <title>Julia Haag</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Personal webpage of Julia Haag">
    <meta name="author" content="Julia Haag">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic'
          rel='stylesheet' type='text/css'>
    <!-- FontAwesome JS-->
    <script defer src="{{ url_for('static', filename='fontawesome/js/all.min.js') }}"></script>
    <!-- Global CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/bootstrap/css/bootstrap.min.css') }}">
    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="{{ url_for('static', filename='css/orbit-2.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/accordion.css') }}">
</head>

<body>
<section class="content">
<div class="wrapper mt-lg-5">
    {% block content %}
    {% include 'sidebar.html' %}
    <div class="main-wrapper">
        {% include 'introduction.html' %}
        {% include 'education.html' %}
        {% include 'further_education.html' %}
        {% include 'experience.html' %}
        {% include 'projects.html' %}
        {% include 'publications.html' %}
        {% include 'talks.html' %}
        {% include 'skills.html' %}
        {% include 'misc.html' %}
    </div>
    {% endblock %}
</div>
</section>
<footer class="footer">
    <div class="text-center">
        <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
        <small class="copyright">Since I am not a very good UI/UX designer, I used this nice templated from <a
                href="http://themes.3rdwavemedia.com"
                target="_blank">Xiaoying Riley</a>.</small>
        <br>
        <small>The favicon is powered by <a target="_blank" href="https://icons8.de">Icons8</a>.</small>
    </div><!--//container-->
</footer><!--//footer-->

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
</body>
</html> 

