<section class="section summary-section">
    <h1 class="section-title">Hello, and welcome to my website!</h1>
    <div class="summary">
        <p>My name is Julia and I'm a computer science PhD student located in Heidelberg, Germany.
            My main interests lay in bioinformatics, data analysis, and machine learning.
            I am currently doing a PhD in bioinformatics with the <a href="https://cme.h-its.org/exelixis/index.html">CME
                group</a>
            at HITS in Heidelberg.
            I love learning new things and new technologies.
        </p>
        <p> If you want to chat, feel free to contact me!
        </p>
    </div><!--//summary-->
</section><!--//section-->