<section class="skills-section section" id="misc">
    <h2 class="section-title"><span class="icon-holder"><i class="fas fa-coffee"></i></span>Miscellaneous</h2>
    <h5 class="container-block-title">Hobbies</h5>
    <ul>
        <li>Baking and cooking! You can see pictures of my baked goods <a
                href="https://rezepte.juliaschmid.com/gallery" target="_blank">here</a> ☺︎
            <br>
            <small style="font-size: 10px;">...yes I will bring cake to the office ☺︎</small>
        </li>
        <li>Sports, especially tennis, bouldering, and cycling.
        </li>
        <li>Drinking good coffee ☺︎ (I even have a barista certificate!)</li>
        <li>Meeting friends</li>
        <li>Reading a good book</li>
    </ul>
</section><!--//misc-section-->