<section class="section projects-section" id="projects">
    <h2 class="section-title">
        <span class="icon-holder">
            <i class="fas fa-archive"></i>
        </span>
        Projects
    </h2>
    <div class="intro">
        <p>This is an (incomplete) list of projects I worked on or that I am still working on.</p>
    </div><!--//intro-->

    <div class="accordion" id="ProjectsAccordion">
        {% for project_id, project in projects.items() %}
            <div class="accordion-item"
                 id={{ project_id }}>
                <h6 class="accordion-header"
                    id="Project{{ project_id }}">
                    <button aria-controls="collapse{{ project_id }}"
                            aria-expanded={% if loop.index0 == 0 %}true{% else %}false{% endif %}
                            class="accordion-button job-title {% if loop.index0 > 0 %}collapsed{% endif %}"
                            data-bs-target="#collapse{{ project_id }}"
                            data-bs-toggle="collapse"
                            type="button">
                        {{ project.title }}
                    </button>
                </h6>
                <div aria-labelledby={{ project_id }}
                     class="accordion-collapse collapse {% if loop.index0 == 0 %}show{% endif %}"
                     data-bs-parent="#ProjectsAccordion"
                     id="collapse{{ project_id }}">
                    <div class="accordion-body">
                        <div>
                            {% for skill in project.skills %}
                                <span class="badge bg-light text-dark">{{ skill }}</span>
                            {% endfor %}
                        </div>
                        <br>
                        <p>{{ project.summary|safe }}</p>
                        {% if project.repository %}
                            <p><i class="fab fa-github"></i><a href={{ project.repository }} target="_blank"> Repository </a></p>
                        {% endif %}
                        {% if project.publication %}
                            {% if project.publication.peerReviewed %}
                                <p><i class="far fa-file-alt"></i><a href={{ project.publication.doi }} target="_blank"> Paper</a></p>
                            {% else %}
                                <p><i class="far fa-file-alt"></i><a href={{ project.publication.doi }} target="_blank"> Paper (preprint)</a></p>
                            {% endif %}
                        {% endif %}

                        <hr>
                        {% for desc in project.description %}
                            <p>{{ desc|safe }}</p>
                        {% endfor %}
                        {% if project.repository %}
                            <p>The tool is available on <a href={{ project.repository }} target="_blank">GitHub</a>.</p>
                        {% endif %}
                        {% if project.publication %}
                            {% if project.publication.peerReviewed %}
                                <p>The peer-reviewed publication is available at <a href={{ project.publication.doi }} target="_blank"><i>{{ project.publication.journal }}</i></a>.</p>
                            {% else %}
                                <p>The paper is currently under review, a preprint is available on <a href={{ project.publication.doi }} target="_blank"><i>{{ project.publication.journal }}</i></a>.</p>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section><!--//section-->
