<section class="section publications-section" id="publications">
    <h2 class="section-title"><span class="icon-holder"><i class="fas fa-book"></i></span>Publications & Preprints
    </h2>
    <h3 class="section-title">Publications</h3>
    {% for publication_id, publication in publications.items() %}
        <div class="item" id={{ publication_id }}>
        <h6 class="container-block-title"><a href={{ publication.doi }} target="_blank">{{ publication.title }}</a></h6>
        <p>
            {% set authors_list = [] %}
            {% for author in publication.authors %}
                {% if "J. Haag" in author %}
                    {% set author = "<b>" + author + "</b>" %}
                {% endif %}
                {% set _ = authors_list.append(author) %}
            {% endfor %}
            {{ authors_list | join(', ') | safe }}
            ({{ publication.date.year }})
            {{ publication.title }}.
            <i>{{ publication.journal }}</i>, {{ publication.volume }}{% if publication.issue %}({{ publication.issue }}){% endif %}.
            <a href={{ publication.doi }} target="_blank">{{ publication.doi }}</a>
            {% if publication.notes %}<br>{{publication.notes}}{%endif%}
        </p>
    </div><!--//item-->
    {% endfor %}

    <!--    PREPRINTS -->
    <h3 class="section-title">Preprints</h3>
    {% for preprint_id, preprint in preprints.items() %}
        <div class="item" id={{ preprint_id }}>
        <h6 class="container-block-title"><a href={{ preprint.doi }} target="_blank">{{ preprint.title }}</a></h6>
        <p>
            {% set authors_list = [] %}
            {% for author in preprint.authors %}
                {% if "J. Haag" in author %}
                    {% set author = "<b>" + author + "</b>" %}
                {% endif %}
                {% set _ = authors_list.append(author) %}
            {% endfor %}
            {{ authors_list | join(', ') | safe }}
            ({{ preprint.date.year }})
            {{ preprint.title }}.
            <i>{{ preprint.journal }}</i>.
            <a href={{ preprint.doi }} target="_blank">{{ preprint.doi }}</a>
            {% if preprint.notes %}<br>{{preprint.notes}}{%endif%}
        </p>
    </div><!--//item-->
    {% endfor %}
</section><!--//section-->
