<section class="section publications-section" id="publications">
    <h2 class="section-title"><span class="icon-holder"><i class="fas fa-book"></i></span>Publications & Preprints
    </h2>
    <div class="item" id="freeLunch">
        <h6 class="container-block-title"><a
                href="https://doi.org/10.1101/2022.07.13.499893"
                target="_blank">The Free Lunch is not over yet – Systematic Exploration of Numerical Thresholds in
            Phylogenetic Inference (Preprint)</a></h6>
        <p>
            <b>J. Haag</b>, L. Hübner, A. M. Kozlov and A. Stamatakis (2023) The Free Lunch is not over yet – Systematic
            Exploration of Numerical Thresholds in Phylogenetic Inference. <i>bioRxiv</i>. https://doi.org/10.1101/2022.07.13.499893
        </p>
    </div><!--//item-->
    <div class="item">
        <h6 class="container-block-title"><a
                href="https://doi.org/10.1101/2022.10.31.514545"
                target="_blank">A representative Performance Assessment of Maximum Likelihood based Phylogenetic
            Inference Tools (Preprint)</a></h6>
        <p>
            D. Höhler, <b>J. Haag</b>, A. M. Kozlov and A. Stamatakis (2022) A representative Performance Assessment of
            Maximum Likelihood based Phylogenetic Inference Tools. <i>bioRxiv</i>. https://doi.org/10.1101/2022.10.31.514545
        </p>
    </div><!--//item-->
    <div class="item" id="pythia">
        <h6 class="container-block-title"><a
                href="https://doi.org/10.1093/molbev/msac254"
                target="_blank">From Easy to Hopeless - Predicting the Difficulty of Phylogenetic Analyses</a></h6>
        <p>
            <b>J. Haag</b>, D. Höhler, B. Bettisworth and A. Stamatakis (2022) From Easy to Hopeless - Predicting the
            Difficulty of Phylogenetic Analyses. <i>Molecular Biology and Evolution</i>, 39(12). https://doi.org/10.1093/molbev/msac254
        </p>
    </div><!--//item-->
    <div class="item">
        <h6 class="container-block-title"><a
                href="https://doi.org/10.3389/fsurg.2021.742160"
                target="_blank">Continuous Feature-Based Tracking of the Inner Ear for Robot-Assisted
            Microsurgery</a></h6>
        <p>
            C. Marzi, T. Prinzen, <b>J. Haag</b>, T. Klenzner and F. Mathis-Ullrich (2021) Continuous Feature-Based Tracking
            of
            the Inner Ear for Robot-Assisted Microsurgery. <i>Front. Surg.</i>, 8:742160. https://doi.org/10.3389/fsurg.2021.742160
        </p>
    </div><!--//item-->
</section><!--//section-->