<div class="sidebar-wrapper">
    <div class="profile-container">
        <img class="profile" src="{{ url_for('static', filename='images/profile_photo.jpg') }}" alt="" width="200"
             style="border-radius: 50%"/>
        <h1 class="name">Julia Haag</h1>
        <h3 class="tagline">Computer Science Student</h3>
    </div><!--//profile-container-->

    <div class="interests-container container-block">
        <ul class="list-unstyled interests-list">
            <li class="job-title"><a href="#education">Education</a></li>
            <li class="job-title"><a href="#further-education">Further Education</a></li>
            <li class="job-title"><a href="#experience">Experience</a></li>
            <li class="job-title"><a href="#projects">Projects</a></li>
            <li class="job-title"><a href="#publications">Publications & Preprints</a></li>
            <li class="job-title"><a href="#skills">Skills</a></li>
            <li class="job-title"><a href="#misc">Misc</a></li>
        </ul>
        <div class="contact-container container-block">
            <!--<ul class="list-unstyled contact-list">-->
            <a href="mailto: info@juliaschmid.com" style="margin-right: 10px"><i
                    class="fa fa-envelope fa-2x"></i></a>
            <a href="https://www.linkedin.com/in/julia-haag-2a37a81a1/" target="_blank"
               style="margin-right: 10px"><i
                    class="fab fa-linkedin-in fa-2x"></i></a>
            <a href="https://github.com/tschuelia" target="_blank"><i class="fab fa-github fa-2x"></i></a>
            <!--</ul>-->
        </div><!--//contact-container-->
    </div><!--//table of contents-->
</div><!--//sidebar-wrapper-->