<section class="skills-section section" id="skills">
    <h2 class="section-title"><span class="icon-holder"><i class="fas fa-rocket"></i></span>Skills</h2>
    <h5 class="container-block-title">Programming Languages & Tools</h5>
    <div class="intro">
        <p>I feel most comfortable working with Python, but I did come in touch with many other programming
            languages. Since most hobby projects are websites, I am also very familiar with HTML5 and CSS.
            During my work at ArtiMinds I wrote code in JavaScript and TypeScript and during my
            computer science studies I also coded in Java and C. At the moment I am working on learning C++ as I need it
            frequently when reading or writing coe for my PhD thesis.
        </p>
        <p>For all my projects I'm using Git, and I know the basic usage (commit, push, merge, rebase, ...).
            However, advanced Git features still feels like magic to me and I have to google a lot of commands ☺︎</p>
    </div><!--//intro-->
    <div class="skillset">
        <div class="item">
            <h3 class="level-title">Python</h3>
            <div class="progress level-bar">
                <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="80"
                     class="progress-bar theme-progress-bar" role="progressbar" style="width: 80%"></div>
            </div>
        </div><!--//item-->

        <div class="item">
            <h3 class="level-title">HTML5 &amp; CSS</h3>
            <div class="progress level-bar">
                <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="60"
                     class="progress-bar theme-progress-bar" role="progressbar" style="width: 60%"></div>
            </div>
        </div><!--//item-->

        <div class="item">
            <h3 class="level-title">Git</h3>
            <div class="progress level-bar">
                <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="50"
                     class="progress-bar theme-progress-bar" role="progressbar" style="width: 50%"></div>
            </div>
        </div><!--//item-->

        <div class="item">
            <h3 class="level-title">SQL</h3>
            <div class="progress level-bar">
                <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="33"
                     class="progress-bar theme-progress-bar" role="progressbar" style="width: 33%"></div>
            </div>
        </div><!--//item-->

        <div class="item">
            <h3 class="level-title">JavaScript & TypeScript</h3>
            <div class="progress level-bar">
                <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="20"
                     class="progress-bar theme-progress-bar" role="progressbar" style="width: 20%"></div>
            </div>
        </div><!--//item-->

        <div class="item">
            <h3 class="level-title">Java</h3>
            <div class="progress level-bar">
                <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="20"
                     class="progress-bar theme-progress-bar" role="progressbar" style="width: 20%"></div>
            </div>
        </div><!--//item-->


        <div class="item">
            <h3 class="level-title">C++</h3>
            <div class="progress level-bar">
                <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="20"
                     class="progress-bar theme-progress-bar" role="progressbar" style="width: 20%"></div>
            </div>
        </div><!--//item-->

        <div class="item">
            <h3 class="level-title">C</h3>
            <div class="progress level-bar">
                <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="20"
                     class="progress-bar theme-progress-bar" role="progressbar" style="width: 20%"></div>
            </div>
        </div><!--//item-->

    </div>
    <br>

    <br>

    <h5 class="container-block-title">Frameworks</h5>
    <p>Here is a list of frameworks I frequently work with and I would say I now my way around.</p>
    <span class="badge bg-light text-dark">Pandas</span>
    <span class="badge bg-light text-dark">Plotly</span>
    <span class="badge bg-light text-dark">Dash</span>
    <span class="badge bg-light text-dark">Matplotlib</span>
    <span class="badge bg-light text-dark">Numpy</span>
    <span class="badge bg-light text-dark">scikit-learn</span>
    <span class="badge bg-light text-dark">LightGBM</span>
    <span class="badge bg-light text-dark">Django</span>
    <span class="badge bg-light text-dark">Snakemake</span>
    <span class="badge bg-light text-dark">Biopython</span>
    <p></p>
    <br>

    <h5 class="container-block-title">Languages</h5>
    <br>
    <ul>
        <li>German (Native)</li>
        <li>English (Professional)</li>
        <li>Spanish (Elementary)</li>
        <li>Greek (Elementary)</li>
    </ul>
</section><!--//skills-section-->