<section class="section publications-section"
         id="talks"
>
    <h2 class="section-title">
        <span class="icon-holder">
            <i class="fas fa-chalkboard-teacher"></i></span>
        Talks
    </h2>
    {% for talk_id, talk in talks.items() %}
        <div class="item" id={{talk_id}}>
        <h6 class="container-block-title">
            {{ talk.title }}
        </h6>
        <p>
            <i>{{ talk.conference }} ({{ talk.location }}, {{talk.date.strftime('%B %Y')}})</i>
            <br>
            {% if talk.description %}
                {{talk.description}}<br>
            {% endif %}
            {% if talk.recording %}
                <span><a href={{talk.recording}} target="_blank"><i class="fab fa-youtube"></i> Recording</a><br></span>
            {% endif %}
            {% if talk.slides %}
                <span><a href="{{ url_for('static', filename=talk.slides) }}" target="_blank"><i class="fas fa-file-pdf"></i> Talk slides</a></span>
            {% endif %}
        </p>
    </div>
    {% endfor %}
</section>