<section class="section publications-section" id="talks">
    <h2 class="section-title"><span class="icon-holder"><i class="fas fa-chalkboard-teacher"></i></span>Talks
    </h2>
    <div class="item">
        <h6 class="container-block-title">Predicting the Difficulty of Phylogenetic Analyses</h6>
        <p>
            ERGA BioGenome Analysis and Applications Seminar<br>
            November 2023
            <br>
            A recording of this talk is available on <a href="https://youtu.be/xyS6SR8uiGQ?t=1195" target="_blank">on YouTube</a>.<br>
            <a href="{{ url_for('static', filename='data/pythia_erga_nov_2023.pdf') }}" target="_blank">Talk slides</a>
        </p>
    </div><!--//item-->
    <div class="item">
        <h6 class="container-block-title">Predicting the Difficulty of Phylogenetic Analyses</h6>
        <p>
            Peder Sather/Invertomics Symposium “Progress and Development in Phylogenetic Methods”<br>
            March 2023, University of Oslo, Norway
            <br>
            <a href="{{ url_for('static', filename='data/pythia_oslo_2023.pdf') }}" target="_blank">Talk slides</a>
        </p>
    </div><!--//item-->
    <div class="item">
        <h6 class="container-block-title">Predicting the Difficulty of a Phylogenetic Analysis</h6>
        <p>
            EVOLCYP Workshop on Biodiversity Genomics<br>
            September 2022, University of Cyprus, Cyprus
        </p>
    </div><!--//item-->

</section><!--//section-->